/** @section Utilities custom */

// SVG
svg {
	fill: currentColor;
}

.img-wide {
	width: 100%;
}

.height-fill {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	> * {
		flex-grow: 1;
		flex-shrink: 0;
	}
}


// Object inline
.object-inline {
	white-space: nowrap;

	> * {
		display: inline-block;
		min-width: 20px;
		vertical-align: top;
		white-space: normal;
	}

	> * + * { margin-left: 5px; }
}

.oh {
	position: relative;
	overflow: hidden;
}

.oh-1 {
	overflow: hidden;
}

.index-1 {
	z-index: 1;
}

// Text decorations
.text-decoration-lines {
	position: relative;
	overflow: hidden;
	width: 100%;

	&-content {
		position: relative;
		display: inline-block;
		min-width: 170px;
		font-size: 13px;
		text-transform: uppercase;

		&::before,
		&::after {
			content: '';
			position: absolute;
			height: 1px;
			background: $gray-200;
			top: 50%;
			width: 100vw;
		}

		&::before {
			left: 0;
			transform: translate3d(-100%, 0, 0);
		}

		&::after {
			right: 0;
			transform: translate3d(100%, 0, 0);
		}
	}
}

* + .text-decoration-lines { margin-top: 30px; }


// Rights
p.rights {
	font-size: 14px;

	a {
		color: inherit;

		&:hover { color: $primary; }
	}
}

* + p.rights {
	margin-top: 8px;
}

.button + .rights {
	margin-top: 30px;
}

@include media-breakpoint-up(md) {
	.button + .rights {
		margin-top: 60px;
	}
}

@include media-breakpoint-up(xl) {
	.button + .rights {
		margin-top: 84px;
	}
}


// JSColor Workaround
[style*='z-index: 1000;'] { z-index: $zindex-layout-panel + 1 !important; }

.text-block {
	> * {
		margin-left: .125em;
		margin-right: .125em;
	}
}


// Privacy link
.privacy-link { display: inline-block; }

* + .privacy-link { margin-top: 30px; }


// Box shadow
.box-shadow {
	box-shadow: $shadow-area-1;
}
.box-shadow-2 {
	box-shadow: $shadow-area-2;
}


// Shadow
.shadow-1 {
	filter: drop-shadow(30px 54px 54px rgba($gray-700, 0.1));
}

.shadow-2 {
	box-shadow: $shadow-area-2;
}

.shadow-3 {
	box-shadow: $shadow-area-3;
}

// context
.ios {
	.shadow-1 {
		transform: translate3d(0,0,0);
	}
}

// Inset

@include media-breakpoint-up(xl) {
	.inset-xl-top-16 { padding-top: 16px; }
	.inset-xl-bottom-20 { padding-bottom: 20px; }
	.inset-xl-left-60 { padding-left: 60px; }
}

// Offset
.offset-left-40 { margin-left: 40px; }

@include media-breakpoint-up(lg) {
	.offset-lg-top-110 { margin-top: 110px; }
}

@include media-breakpoint-up(xl) {
	.offset-xl-right-70 { margin-right: 70px; }
	.offset-negative-1 { margin-left: -50px; }
}

@include media-breakpoint-up(xxl) {
	.offset-negative-2 { margin-right: -50px; }
}



//
// Wave
//

.wave {
	position: relative;
	display: block;
	width: 100%;
	bottom: -1px;
}

// Context styling
html {
	&:not(.ie-10):not(.ie-11):not(.ie-edge) {
		.wave {
			height: auto;
		}
	}
}

// Wave dark
.wave-dark {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	pointer-events: none;

	.wave-path {
		transform: scale(1.2, 1);
		transform-origin: 50% 100%;
	}

	.wave-path-1 {
		fill: rgba( $white, .05 );
		animation: wave1 15s ease-in-out infinite;
	}

	.wave-path-2 {
		fill: rgba( $white, .02 );
		animation: wave2 15s ease-in-out infinite;
	}

	.wave-path-3 {
		fill: rgba( $white, .02 );
		animation: wave3 15s ease-in-out infinite;
	}
}

.wave-dark-1 {
	bottom: -52%;
}

.wave-dark-2 {
	bottom: -14%;
}

.wave-dark-3 {
	bottom: -76%;
}

.wave-dark-4 {
	.wave-path-1 {
		display: none;
	}
}

.wave-dark-5 {
	bottom: -28%;
}

@include media-breakpoint-up(xl) {
	.wave-dark-6 {
		bottom: -30%;
	}
} 

@include media-breakpoint-up(xxl) {
	.wave-dark-6 {
		bottom: -65%;
	} 
} 

// Context styling
.bg-primary-app,
.bg-primary-2 {
	.wave-dark {

		.wave-path-1 {
			fill: rgba($primary, .3);
		}
		.wave-path-2 {
			fill: rgba($secondary-4, .4);
		}
		.wave-path-3 {
			fill: rgba($secondary, .2);
		}
	}
}

// Animation
@keyframes wave1 {
	25% {
		transform-origin: 0 100%;
		transform: scale(1.4, 1.3);
	}
	75% {
		transform: scale(1.4, 0.7);
		transform-origin: 100% 100%;
	}
}

@keyframes wave2 {
	25% {
		transform-origin: 0 100%;
	}
	50% {
		transform: scale(1.3, 0.8);
	}
	75% {
		transform-origin: 100% 100%;
	}
}

@keyframes wave3 {
	25% {
		transform-origin: 100% 100%;
	}
	50% {
		transform: scale(1.2, 0.9);
	}
	75% {
		transform-origin: 0 100%;
	}
}

// Wave light
.wave-light {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: auto;
	transform: translateY(-50%);
	pointer-events: none;

	.wave-path {
		fill: rgba( $gray-2, .02 );
		animation: wave4 6s ease-in-out infinite;
		transform-origin: 50%;

		&:nth-child(2) {
			animation-delay: 2s;
		}

		&:nth-child(3) {
			animation-delay: 4s;
		}
	}
}

.wave-light-reverse-x {
	transform: translateY(-50%) scaleX(-1);
}

.wave-light-reverse-y {
	transform: translateY(-50%) scaleY(-1);
}

.wave-light-1 {
	top: 53%;
}

.wave-light-2 {
	top: 43%;
}

.wave-light-3 {
	top: 57.5%;
}

.wave-light-4 {
	top: 91.5%;
}

.wave-light-5 {
	top: 47%;
}

.wave-light-6 {
	top: 80%;
}

.wave-light-7 {
	top: 86%;
}

.wave-light-8 {
	top: 78%;
}

.wave-light-9 {
	top: 63%;
}

.wave-light-10 {
	top: 0;
}

.wave-light-11 {
	top: 10%;
}

.wave-light-12 {
	top: 74%;
}

.wave-light-13 {
	top: 100%;
}

.wave-light-14 {
	top: 20%;
}



@include media-breakpoint-up(sm) {
	.wave-light-13 {
		top: 106%;
	}

	.wave-light-14 {
		top: 27%;
	}
}

@include media-breakpoint-up(lg) {
	.wave-light-13 {
		top: 108%;
	}
}

@keyframes wave4 {
	25% {
		transform: scaleY(0.9);
	}
	75% {
		transform: scaleY(1.1);
	}
}

// Wave primary
.wave-primary {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: auto;
	pointer-events: none;

	.wave-path {
		transform: scale(1.1, 1);
		transform-origin: 50% 100%;
	}

	.wave-path-1 {
		fill: rgba( $primary, .3 );
		animation: wave5 15s ease-in-out infinite;
	}

	.wave-path-2 {
		fill: rgba( $primary, .15 );
		animation: wave6 15s ease-in-out infinite;
	}

	.wave-path-3 {
		fill: rgba( $primary, .1 );
		animation: wave7 15s ease-in-out infinite;
	}
}

.wave-primary-1 {
	overflow: visible;
	width: 61.72%;
}

// Context styling
%context-dark {
	.wave-primary {

		.wave-path-1 {
			fill: rgba( $primary, .9 );
		}

		.wave-path-2 {
			fill: rgba( $primary, .8 );
		}

		.wave-path-3 {
			fill: rgba( $primary, .5 );
		}
	}
}

// Animation
@keyframes wave5 {
	25% {
		transform-origin: 0 100%;
		transform: scale(1.3, 1.1);
	}
	75% {
		transform: scale(1.15, 0.9);
		transform-origin: 100% 100%;
	}
}

@keyframes wave6 {
	25% {
		transform-origin: 100% 100%;
	}
	50% {
		transform: scale(1.2, 0.8);
	}
	75% {
		transform-origin: 0 100%;
	}
}

@keyframes wave7 {
	25% {
		transform-origin: 0 100%;
	}
	50% {
		transform: scale(1.1, 0.9);
	}
	75% {
		transform-origin: 100% 100%;
	}
}


// Object Classic
.object-classic-1 {
	max-width: 115%;
	
	// Large ≥ 992px
	@include media-breakpoint-up(lg) {
		position: absolute;
		top: 55px;
		right: -75px;
		max-width: 165%;
	}
	
	// Extra large ≥ 1200px
	@include media-breakpoint-up(xl) {
		top: 55px;
		right: -175px;
		max-width: 165%;
	}
}

.object-classic-2 {

	// Extra large ≥ 1200px
	@include media-breakpoint-up(xl) {
		max-width: none;
	}
}

.object-classic-2 + * {
	margin-top: 14px;
}


.inset-custom-1 {
	@include media-breakpoint-up(xl) {
		padding-right: 27px;
	}
}

.inset-custom-2 {
	padding-right: 15px;
	padding-left: 15px;
}

.inset-custom-3 {
	@include media-breakpoint-up(xl) {
		padding-right: 120px;
	}
}

.inset-custom-4 {

	@include media-breakpoint-up(lg) {
		padding-left: 40px;
	}

	@include media-breakpoint-up(xl) {
		padding-left: 90px;
	}
}

.inset-custom-5 {
	@include media-breakpoint-up(lg) {
		padding-left: 30px;
	}
	@include media-breakpoint-up(xl) {
		padding-left: 110px;
	}
}

.ls-0 { letter-spacing: 0; }

.row-bordered-center {
	@include media-breakpoint-up(lg) {
		[class*="col-"] {
			position: relative;
			& + [class*="col-"] {
				&:before {
					content: '';
					position: absolute;
					background: rgba($white, .3);
					top: 10px;
					bottom: 10px;
					width: 2px;
					left: -1px;
				}
			}
		}
	}

}

.relative-index-1 {
	position: relative;
	z-index: 1;
}
