/** @section Quotes */

// Quote primary
.quote-primary-mark {
	position: relative;
	top: 6px;
	display: block;
	width: 37px;
	height: 27px;
	fill: $primary;
	flex-shrink: 0;
}

.quote-primary-body {
	position: relative;
	padding: 25px 0;
	border-top: 1px solid $gray-200;

	&::before,
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		height: 13px;
		border-style: solid;
		border-color: $gray-200;
	}

	&::before {
		left: 0;
		width: 78px;
		border-width: 1px 1px 0 0;
	}

	&::after {
		right: 0;
		width: calc(100% - 78px - 12px);
		border-width: 1px 0 0 1px;
		transform-origin: 0 0;
		transform: skew(-45deg);
	}
}

.quote-primary-text {
	padding-top: 20px;
}

.quote-primary-cite {
	font-weight: 700;
}

.quote-primary-footer {
	padding-left: 5px;
}

* + .quote-primary {
	margin-top: 30px;
}

* + .quote-primary-footer {
	margin-top: 8px;
}

@include media-breakpoint-up(sm) {
	.quote-primary-body {
		display: flex;
		padding: 32px 20px 40px 30px;
	}

	.quote-primary-text {
		padding-top: 0;
		padding-left: 20px;
	}

	.quote-primary-footer {
		padding-left: 30px;
	}
}

@include media-breakpoint-up(md) {
	.quote-primary-body {
		padding-right: 40px;
	}
}


// Quote Classic
.quote-classic {

}

* + .quote-classic {
	margin-top: 30px;

	// Extra large ≥ 1200px
	@include media-breakpoint-up(xl) {
		margin-top: 40px;
	}
}

.quote-classic-body {
	border-left: 5px solid $primary;
	padding-left: 20px;

	q {
		font-family: $font-family-sec;
		font-size: 22px;
		font-weight: $font-weight-bold;
		font-style: italic;
		line-height: 1.4;
		color: $secondary;
	}
}

.quote-classic-footer {

}

* + .quote-classic-footer {
	margin-top: 25px;
}

.quote-classic-name {
	font-size: 18px;
	color: $gray-700;
	font-weight: $font-weight-bold;
}


//
// Quote Corporate
//
.owl-corporate-testimonials {
	.owl-nav {
		display: none;

		@include media-breakpoint-up(xl) {
			display: block;
		}
	}

	.owl-dots {
		display: block;

		@include media-breakpoint-up(xl) {
			display: none;
		}
	}

	.owl-stage-outer {
		padding: 20px;
		margin: -20px;
	}
}

.quote-corporate {
	text-align: left;
	padding: 30px;
	background-color: $white;
	box-shadow: $shadow-2;

	@include media-breakpoint-up(lg) {
		padding: 50px;
		padding-top: 40px;
	}
}

.quote-corporate-body {
	q {
		display: inline-block;

		&::before {
			font-size: 40px;
			color: $secondary;
			line-height: .8;
			padding-top: 8px;
			display: inline-block;

			// Large ≥ 992px
			@include media-breakpoint-up(lg) {
				font-size: 60px;
			}
		}
	}
}

* + .quote-corporate-footer {
	margin-top: 21px;
}

.quote-corporate-photo {
}

.quote-corporate-name {
	font-size: 18px;
	font-weight: $headings-font-weight;
	color: $gray-700;
}

.quote-corporate-position {
}

// Quote Corporate 3
.quote-corporate-3 {
	background: $gray-5;
	box-shadow: none;

  .quote-corporate-body {
    q {
      &:before {
        color: $primary;
      }
    }
  }

	img {
		filter: grayscale(1);
	}

	* + .quote-corporate-footer { margin-top: 29px; }
}

// Quote Corporate 4
.quote-corporate-4 {
	box-shadow: $shadow-1;
	border-radius: $border-radius-md;

	.quote-corporate-body {
		q {
			font-weight: 400;
			color: inherit;

			&:before {
				font-weight: 700;
				color: $primary;
			}
		}
	}

	.quote-corporate-name {
		color: $secondary;
	}
}


@include media-breakpoint-up(md) {
	.quote-corporate-1 {
		margin-top: 60px;
	}

	.quote-corporate-2 {
		margin-top: 40px;
	}
}

%context-dark {
	.quote-corporate-body q {
		color: $headings-color;
	}
}


// Quote E-Book
.quote-e-book {

	.quote-corporate-name,
	q::before {
		color: $primary;
	}
}

/*
 Quote Modern
 */
.quote-modern {
	border: 1px solid $gray-7;
	box-shadow: 1px 4px 4px rgba($gray-900, 0.05);
	transition: 0.33s all ease-in-out;
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px 25px 30px;
}

@include media-breakpoint-up(md) {
	.quote-modern {
		max-width: none;
	}
}

@include media-breakpoint-up(xl) {
  .desktop {
		.quote-modern {
			&:hover {
				transform: translate3d(0, -30px, 0);
				box-shadow: 11px 34px 14px rgba($gray-900, 0.05);
			}
		}
	}
}

.quote-modern-body {
	q {
		display: inline-block;
		font-weight: 700;
		&::before {
			font-size: 40px;
			font-weight: 700;
			color: $primary;
			line-height: .8;
			padding-top: 8px;
			display: inline-block;

			// Large ≥ 992px
			@include media-breakpoint-up(lg) {
				font-size: 52px;
			}
		}

		&:after {
			opacity: 0;
			visibility: hidden;
		}

	}
}

.quote-modern-footer {
	font-size: 16px;
}

.quote-modern-author {
	color: $gray-900;
	font-weight: 500;
}

* + .quote-modern-body { margin-top: 20px; }

* + .quote-modern-footer { margin-top: 40px; }


@include media-breakpoint-up(lg) {

	* + .quote-modern-body { margin-top: 25px; }

	* + .quote-modern-footer { margin-top: 60px; }

}

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	.quote-modern {
		padding: 45px 40px 45px;
	}


	* + .quote-modern-footer { margin-top: 91px; }


}


// Quote Christmas
.quote-christmas {
	max-width: 390px;
	margin-left: auto;
	margin-right: auto;
}

.quote-christmas-body {
	position: relative;
	padding: 30px 20px 40px;
	background-color: $secondary;
	border-radius: $border-radius-lg;
	line-height: 26px;

	@include media-breakpoint-up(xl) {
		padding: 40px 40px 52px;
	}

	svg {
		position: absolute;
		left: 87px;
		bottom: 0;
		transform: translate(0, 76%);

		@include media-breakpoint-up(sm) {
			left: 107px;
		}
	}

	h6,
	.heading-6 {
		color: $white;
	}
}

.quote-christmas-footer {
	margin-left: 20px;

	@include media-breakpoint-up(sm) {
		margin-left: 40px;
	}
}

* + .quote-christmas-footer {
	margin-top: 20px;

	@include media-breakpoint-up(xl) {
		margin-top: 40px;
	}
}

.quote-christmas-image {
	border-radius: 10em;
}

* + .quote-christmas-date {
	margin-top: 2px;
}
