/** @section Team */

// Team default
.team-default {
	text-align: center;
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
}

.team-default-figure {
	position: relative;
	color: $white;
	transition: .3s ease;
}

.team-default-overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px 10%;
	background: rgba($gray-700, .8);
	pointer-events: none;
	transition: .3s ease;

	> * {
		pointer-events: auto;
	}
}

.team-default-text {

}

.team-default-list-social {
	.icon {
		&,
		&[class*='facebook'],
		&[class*='instagram'] {
			&:hover {
				color: $white;
			}
		}
	}
}

.team-default-name {

}

.team-default-status {

}

* + .team-default-name { margin-top: 30px; }
* + .team-default-status { margin-top: 6px; }

@include media-breakpoint-up(lg) {

	.desktop {

		.team-default-overlay {
			opacity: 0;
			visibility: hidden;
		}

		.team-default:hover {

			.team-default-figure {
				transform: translateY(-20px);
				box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
			}

			.team-default-overlay {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}



//
// Team minimal
//
.team-minimal {

}

.team-minimal-name {
	color: $secondary;
}

.team-minimal-text {
	max-width: 290px;
}

* + .team-minimal-name { margin-top: 20px; }

@include media-breakpoint-up(md) {
	* + .team-minimal-name { margin-top: 30px; }
}

@include media-breakpoint-up(lg) {
	* + .team-minimal-name { margin-top: 42px; }
}