// Variables

// Color system
// Gray colors
$white:    #ffffff;
$gray-200: #E9E9EB;
$gray-300: #cccccc !default;
$gray-400: #b7b7b7;
$gray-600: #9BA0AC;
$gray-800: #192031;
$black:    #000000;

$gray-1: #F2F1F6;
$gray-2: #4D4468;
$gray-3: #D2D4D7;
$gray-4: #f1eff3;
$gray-5: #F6F7FB;
$gray-6: #333333 !default;
$gray-7: #E7E7E7 !default;
$gray-8: #999999;
$gray-9: #353535;

$white-1: rgba($white, .1);

// Body
$body-bg: $white;
$body-color: $gray-500;

$theme-colors: ();

// Gradients
$gradient-primary: linear-gradient(270deg, $primary 0%, $primary-1 100.44%);
$gradient-primary-1: linear-gradient(90deg, $primary-3 0%, $primary-4 100%);


$danger-color:   #f5543f;
$success-color:  #98bf44;

// Additional colors
$facebook:       #4d70a8;
$facebook-light: #748abc;
$facebook-darken: darken($facebook, 5%);

$twitter:        #02bcf3;
$twitter-light:  #81cbdb;
$twitter-darken: darken($twitter, 5%);

$google:         #e2411e;
$google-light:   #de7272;
$google-darken: darken($google, 5%);

$youtube:  #FE0000;
$facebook: #4867AA;
$twitter:  #1EA1F3;
$linkedin: #3997D0;

// Page
$page-boxed-width: 1600px;
$page-boxed-background-color: $gray-100;
$page-boxed-background-image: url(../images/bg-pattern-boxed.png);

// Components
// Define common padding and border radius sizes and more.
$border-width: 1px;

$border-radius:    0 !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;
$border-radius-md: 8px !default;

$border-radius-1:  25px !default;

$transition-base: all .3s ease-in-out;

// Map
$map-height: 200px;
$map-xs-height: 250px;
$map-md-height: 450px;

// Shadow
$shadow-area-1: 0 14px 36px rgba($gray-700, 0.25);
$shadow-area-2: 0 14px 36px rgba($gray-700, .1);
$shadow-area-3: 0 5px 50px rgba(41, 48, 67, 0.08);
$shadow-1: 0 8px 50px rgba(#156FC1, 0.1);
$shadow-2: 0 5px 20px rgba($gray-700, 0.08);

// Fonts
// Font, line-height, and color for body text, headings, and more.
$font-family-serif:        "Merriweather", "Times New Roman", Times, serif !default;
$font-family-monospace:    "Menlo", Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base: $font-family-sans-serif !default;
$font-family-sec: $font-family-serif       !default;

$font-weight-thin:        100;
$font-weight-extra-light: 200;
$font-weight-light:       300;
$font-weight-regular:     400;
$font-weight-medium:      500;
$font-weight-semi-bold:   600;
$font-weight-bold:        700;
$font-weight-extra-bold:  800;
$font-weight-black:       900;

// Base fonts
$font-size-body:      16px !default;
$font-size-body-lg:   20px !default;
$font-size-body-sm:   12px !default;

$_lh-base:            26px !default;
$_lh-body-lg:         32px !default;
$_lh-body-sm:         18px !default;

// ** < Calculated font values >
$line-height-base: ($_lh-base / $font-size-body);
$line-height-lg: ($_lh-body-lg / $font-size-body-lg);
$line-height-sm: ($_lh-body-sm / $font-size-body-sm);
// ** </ Calculated font values >

// Headings
$headings-font-family: $font-family-sec;
$headings-line-height: 1.2;

// Template Heading Values
$_h1-fsz: 60 !default;
$_h2-fsz: 36 !default;
$_h3-fsz: 28 !default;
$_h4-fsz: 22 !default;
$_h5-fsz: 18 !default;
$_h6-fsz: 18 !default;

$_h1-lh: 75 !default;
$_h2-lh: 45 !default;
$_h3-lh: 39.2 !default;
$_h4-lh: 30.8 !default;
$_h5-lh: 25.2 !default;
$_h6-lh: 28.8 !default;

// ** < Calculated Headings values >
$h1-font-size: $_h1-fsz * 1px;
$h2-font-size: $_h2-fsz * 1px;
$h3-font-size: $_h3-fsz * 1px;
$h4-font-size: $_h4-fsz * 1px;
$h5-font-size: $_h5-fsz * 1px;
$h6-font-size: $_h6-fsz * 1px;

$h1-line-height: ($_h1-lh / $_h1-fsz);
$h2-line-height: ($_h2-lh / $_h2-fsz);
$h3-line-height: ($_h3-lh / $_h3-fsz);
$h4-line-height: ($_h4-lh / $_h4-fsz);
$h5-line-height: ($_h5-lh / $_h5-fsz);
$h6-line-height: ($_h6-lh / $_h6-fsz);
// ** </ Calculated Headings values >

// Icon Fonts
$fa: 'FontAwesome';
$mdi: 'Material Design Icons';
$mi: 'Material Icons';

// Lead
$lead-font-size: 24px;
$lead-line-height: 34px;
$lead-font-weight: 300;

// Hr
$hr-border-color: $gray-200!default;
$hr-border-width: $border-width;

// Mark
$mark-padding: 5px 10px;
$mark-bg: $primary;

$dt-font-weight: inherit;
$list-inline-padding: 5px;

// Code
$code-font-size: 90%;
$code-padding-y: 3px;
$code-padding-x: 5px;
$code-color: $gray-900; 
$code-bg: $gray-100;

//
// Links
//
$link-color: $primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%)!default;
$link-press-color: darken($link-color, 15%)!default;
$link-hover-decoration: underline;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1200;
$zindex-modal: 1210;
$zindex-popover: 1060;
$zindex-tooltip: 1070;
// Custom
$zindex-rd-navbar: 1080;
$zindex-lg: 1090;
$zindex-layout-panel: 1100;

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1600px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$screen-fullhd: 1600px;

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
	sm:  540px,
	md:  720px,
	lg:  960px,
	xl:  1200px,
	xxl: 1300px
);
@include _assert-ascending($container-max-widths, "$container-max-widths");

//Container Custom Width
$container-custom-max-width: 1300px;

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns:             12;
$grid-gutter-width:        30px;
$grid-gutter-width-xl:     50px;
$grid-gutter-width-narrow: 20px;

// Buttons
$button-padding-y:   14px !default;
$button-padding-x:   40px !default;
$button-font-size:   16px !default;
$button-line-height: 18px !default;

$button-font-family: $font-family-sec;

$input-btn-padding-y-sm: 5px;
$input-btn-padding-x-sm: 25px;
$input-btn-line-height-sm: 1.5;

$input-btn-padding-y-lg: 12px;
$input-btn-padding-x-lg: 50px;
$input-btn-line-height-lg: 1.5;

$btn-font-family: $font-family-base;
$btn-letter-spacing: 0;
$btn-text-transform: none;

$btn-box-shadow: 0;
$btn-focus-box-shadow: 0;
$btn-active-box-shadow: 0;

$btn-link-disabled-color: $gray-600;

$btn-block-spacing-y: .5rem;

// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-sm;

$btn-transition: all .15s ease-in-out;

// Forms
$form-input-height: 50px !default;
$form-input-lg-height: 60px;
$form-input-sm-height: 40px !default;

$form-input-color: $gray-700;
$form-input-color-placeholder: $gray-500 !default;

$form-input-background: $gray-100;
$form-input-border-color: $form-input-background !default;
$form-input-border-radius: $border-radius !default;

$form-input-font-size: 18px!default;
$form-input-line-height: 29px;
$form-input-font-weight: $font-weight-bold !default;

$form-input-border: 1px solid $form-input-border-color !default;
$form-input-padding-horizontal: 19px !default;
$form-input-line-height: round($form-input-font-size * 1.2);

$form-input-padding-sm-vertical: 12px !default;
$form-input-padding-sm-horizontal: 20px !default;

$form-input-padding-vertical: round(($form-input-height - $form-input-line-height) / 2) + 1px;
$form-input-padding: $form-input-padding-vertical $form-input-padding-horizontal;

@if ($form-input-border != none) {
	$form-input-padding-vertical: round(($form-input-height - $form-input-line-height - (nth($form-input-border, 1) * 2)) / 2);
	$form-input-padding: $form-input-padding-vertical $form-input-padding-horizontal;
}

$form-textarea-default-height: 130px;
$form-textarea-default-min-height: $form-input-height;
$form-textarea-default-max-height: round($form-textarea-default-height * 1.7);

$form-feedback-focus-color: $primary;
$form-feedback-valid-color: $success-color;
$form-feedback-invalid-color: $danger-color;

// Pagination
$pagination-padding-y: 10px;
$pagination-padding-x: 10px;
$pagination-font-size: 14px;
$pagination-line-height: 24px;

$pagination-color: $gray-500;
$pagination-bg: $white;
$pagination-border-width: 2px;
$pagination-border-color: $gray-200;

$pagination-hover-color: $white;
$pagination-hover-bg: $primary;
$pagination-hover-border-color: $primary;

$pagination-active-color: $white;
$pagination-active-bg: $primary;
$pagination-active-border-color: $primary;

$pagination-disabled-color: $gray-400;
$pagination-disabled-bg: $gray-200;
$pagination-disabled-border-color: $gray-200;

// Tooltips
$tooltip-max-width: 200px;
$tooltip-color: $white;
$tooltip-bg: $primary;
$tooltip-opacity: 1;
$tooltip-padding-y: 6px;
$tooltip-padding-x: 10px;
$tooltip-margin: 0;

$tooltip-arrow-width: 6px;
$tooltip-arrow-height: 6px;
$tooltip-arrow-color: $tooltip-bg;
