header.section.page-header
  //RD Navbar
  .rd-navbar-wrap
    nav.rd-navbar.rd-navbar-4.novi-bg.novi-bg-img(
    data-layout=              'rd-navbar-fixed',
    data-sm-layout=           'rd-navbar-fixed',
    data-md-layout=           'rd-navbar-fixed',
    data-lg-layout=           'rd-navbar-fixed',
    data-xl-layout=           'rd-navbar-static',
    data-xxl-layout=          'rd-navbar-static',

    data-md-device-layout=    'rd-navbar-fixed',
    data-lg-device-layout=    'rd-navbar-fixed',
    data-xl-device-layout=    'rd-navbar-static',
    data-xxl-device-layout=   'rd-navbar-static',

    data-lg-stick-up-offset=  '46px',
    data-xl-stick-up-offset=  '46px',
    data-xxl-stick-up-offset= '46px',

    data-lg-stick-up=         'true',
    data-xl-stick-up=         'true',
    data-xxl-stick-up=        'true'
    )
      .rd-navbar-collapse-toggle.rd-navbar-fixed-element-1( data-rd-navbar-toggle='.rd-navbar-collapse' ): span
      .rd-navbar-aside-outer.rd-navbar-collapse.bg-gray-900.novi.bg
        .rd-navbar-aside
          ul.list-inline.list-inline-lg
            li: .unit.unit-spacing-6.align-items-center
              .unit-left
                if(!builder)
                  +icon-user
                else
                  +img('icon-7-16x16.png')
              .unit-body: a.link-small.link-white(href="#") Sales & Support
            li: .unit.unit-spacing-6.align-items-center
              .unit-left
                if(!builder)
                  +icon-chat
                else
                  +img('icon-8-16x16.png')
              .unit-body: a.link-small.link-white(href="#") Chat

          div
            .unit.unit-spacing-xs.align-items-center.flex-row-reverse.justify-content-end.flex-xl-row.justify-content-xl-start
              .unit-left: a.link-small.link-white(href="#") Log In
              .unit-body
                if(!builder)
                  +icon-exit
                else
                  +img('icon-9-16x16.png')



      .rd-navbar-main-outer
        .rd-navbar-main
          //RD Navbar Panel
          .rd-navbar-panel
            //RD Navbar Toggle
            button.rd-navbar-toggle( data-rd-navbar-toggle='.rd-navbar-nav-wrap' ): span

            //RD Navbar Brand
            .rd-navbar-brand
              +logo

          .rd-navbar-main-element
            .rd-navbar-nav-wrap
              +navigation( menuHosting )

            .rd-navbar-search
              button.rd-navbar-search-toggle.rd-navbar-fixed-element-2( data-rd-navbar-toggle='.rd-navbar-search' ): span
                +icon-search

