-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Heebo:400,500,700,800&display=swap",
		builder = false,
		logo = {
			default: 'logo-default-hosting-258x58.png',
			inverse: 'logo-inverse-hosting-258x58.png'
		},
		siteName = 'RightHost',
		links = {
			post: 'blog-post.html',
			getTemplate: 'https://www.templatemonster.com/landing-page-template/all-in-one-landing-page-lintense/'
		},
		colors = {
			primary: '#b6c062'
		},

		menuHosting = [
			{
				title: 'Pricing',
				link: '#pricing'
			},
			{
				title: 'CMS Hosting',
				link: '#cms-hosting'
			},
			{
				title: 'Features',
				link: '#features'
			},
			{
				title: 'Domain Registration',
				link: '#domain-registration'
			},
			{
				title: 'Testimonials',
				link: '#testimonials'
			},
			{
				title: 'FAQ',
				link: '#faq'
			},
			{
				title: 'Why Choose Us',
				link: '#why-choose'
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Lintense Hosting',
		style = null;
